<h3>
  Títulos
</h3>
<form>
    <div class="container">
      <div class="row">
          <div class="col-md-3">
         <img src="../../../assets/img/titulos2.jpeg" alt="">
          </div>
          <div class="col-md-6">
            <p>Clube de Regatas do Flamengo é um time de futebol (será?) carioca que, surpreendentemente, se destaca em diversos setores e atividades, sendo que poucos deles têm uma relação clara e direta com o futebol. Dentre eles, podemos mencionar: roubo (grande especialidade, e não apenas de jogos e títulos), furto, assassinato, tráfico de drogas, vandalismo, arrastões, brigas (em estádios, dentro de campo, fora dele, com adversários, entre eles mesmos, etc.), queima de ônibus, esquartejamento de corpos, suborno, desvio de verbas, estelionato, calote, e toda forma conhecida ou mesmo desconhecida de criminalidade e banditismo. O time bateu no teto em 2019 e depois voltou ao normal.

               É difícil para os especialistas definir ao certo como pode ter surgido uma instituição tão especializada em tantas coisas condenáveis e nocivas à sociedade, e é ainda mais difícil saber como ela pode ter chegado à condição de "clube mais querido do Brasil". Pensando bem, talvez não seja assim tão difícil, considerando-se que o país é o Brasil...
               
               Mas, enfim... o clube tem sua origem explicada com base em certas teses (sim, seu passado é incerto porque ninguém sabia escrever a história, e portanto não há registros).</p> 
           
          </div>
        </div>
      </div>
</form>


