<h3>
Sobre o grande time:

</h3>
<form>
<div class="container">
    <div class="row">
        <div class="col-md-3">
       <img src="../../../assets/img/azulejo.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>O material jornalístico produzido pelo Estadão é protegido por lei. As regras têm como objetivo proteger o investimento feito pelo Estadão na qualidade constante de seu jornalismo. 
                Para compartilhar este conteúdo, utilize o link: https://tudo-sobre.estadao.com.br/Flamengo</p>
        </div>
      </div>
    </div>
</form>
     